* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: Plus Jakarta Display;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 1220px;
    max-width: 100%;
    margin: 0 auto;
}

.nav img {
    width: 184px;
    height: 45px;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    padding: 5px;
    color: #051324;
    font-weight: 500;
    font-family: Plus Jakarta Display;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #333;
    border-radius: 3px;
}

img {
    width: 100%;
}

.hero-image {
    width: 60%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60PX;
    background: #f3f8fe;
    border-radius: 15px;
    font-family: Plus Jakarta Display;
    flex-wrap: wrap;
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;

}

.hero-text {
    max-width: 100%;
    width: 40%;
    font-family: Plus Jakarta Display;
}

.hero h1 {
    font-family: Plus Jakarta Display;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    color: #1D5FA9;
    line-height: 130%;
    letter-spacing: 0.9px;
}

.hero p {
    margin: 20PX 0;
    color: #5E6C85;
    line-height: 160%;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.3px;
    font-family: Plus Jakarta Display;
}

.buttons {
    display: flex;
    gap: 1rem;
    font-family: Plus Jakarta Display;
    flex-wrap: wrap;
}

.primary {
    background: #2582E8;
    color: #fff;
    font-family: Plus Jakarta Display;
    font-size: medium;
    padding: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid;
    width: 155px;
}

.secondary {
    border: 1px solid #2582E8;
    color: #2582E8;
    font-weight: 500;
    font-family: Plus Jakarta Display;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 24px;
    background-color: #f3f8fe;
    width: 155px;
}

.book {
    width: 551px;
    max-width: 100%;
    padding: 3rem 2%;
    padding-left: 125px;
}

.book-text {
    font-family: plus jakarta display;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.book h2 {
    color: #1D5FA9;
    text-wrap: wrap;
    font-family: Plus Jakarta Display;
    font-style: normal;
    letter-spacing: 0.3px;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.9px;
}

.book span {
    color: #1D5FA9;
    font-family: Plus Jakarta Display;
    text-wrap: wrap;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.9px;
    font-size: 40px;
    font-weight: 700;
}

.book p {
    color: #051324;
    font-family: Plus Jakarta Display;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.3px;
}

.card {
    width: 995px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 26px;
    margin: 0 auto;
    padding: 3rem 2%;
    flex-wrap: wrap;
}

.card-image {
    width: 55%;
}

.card-image img {
    width: 100%;
    border-radius: 15px;
}

/* .card-center {
    background-color: #1D5FA9;
} */

.card-text {
    width: 40%;
    background-color: #FFF3F3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 40px;
}

.card-text h2 {
    font-family: Plus Jakarta Display;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
}

.card-text h3 {
    font-family: Plus Jakarta Display;
    color: #404040;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.card-text p {
    letter-spacing: 0px;
    font-family: Plus Jakarta Display;
    color:#5F5F5F ;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}

.tag {
    font-family: plus jakarta Display;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.exams {
    color: #F3464A;
    background-color: #FFE7E7;
    border-radius: 20px;
    width: 75px;
    padding: 10px;
    text-align:center;
}

.classes {
    color: #FFC05F;
    background-color: #FFF4E3;
    border-radius: 20px;
    width: 88px;
    padding: 10px;
    text-align: center;
}

.payments {
    color: #49A4FF;
    background-color: #E9F4FF;
    border-radius: 20px;
    width: 110px;
    padding: 10px;
    text-align: center;
}

.drum {
    width: 995px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 26px;
    margin: 0 auto;
    padding: 3rem 2%;
    flex-wrap: wrap;
}

.drum-image {
    width: 55%;
}

.drum-image img {
    width: 100%;
    border-radius: 15px;
}

/* .card-center {
    background-color: #1D5FA9;
} */

.drum-text {
    width: 40%;
    background-color: #FFFBF5;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 40px;
}


.drum-text h2 {
    font-family: Plus Jakarta Display;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
}

.drum-text h3 {
    font-family: Plus Jakarta Display;
    color: #404040;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.drum-text p {
    letter-spacing: 0px;
    font-family: Plus Jakarta Display;
    color: #5F5F5F;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}


.snare {
    width: 995px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 26px;
    margin: 0 auto;
    padding: 3rem 2%;
    flex-wrap: wrap;
}

.snare-image {
    width: 55%;
}

.snare-image img {
    width: 100%;
    border-radius: 15px;
}

/* .card-center {
    background-color: #1D5FA9;
} */

.snare-text {
    width: 40%;
    background-color: #F5FAFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 40px;
}

.snare-text h2 {
    font-family: Plus Jakarta Display;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
}

.snare-text h3 {
    font-family: Plus Jakarta Display;
    color: #404040;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.snare-text p {
    letter-spacing: 0px;
    font-family: Plus Jakarta Display;
    color:#5F5F5F;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
}

.box {
    text-align: center;
    color: #15365B;
    margin: 50px auto;
}

.box h4 {
    font-weight: 600;
    font-size: 18px;
}

.stick {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1100px;
    margin: 20px auto;
}

.stick img {
    height: 50px;
    color: #5E6C85;
}

.cta {
    background: #1D5FA9;
    display: flex;
    color: #FFFFFF;
    border-radius: 10px;
    justify-content: space-between;
    width: 1199px;
    max-width: 100%;
    margin: 0 auto;
    align-content: center;
    height: 250px;
    align-items: center;
    flex-wrap: wrap;
}

.cta h2 {
    font-family: Plus Jakarta Display;
    margin: 0 auto;
    max-width: fit-content;
    text-wrap: wrap;
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
}

.cta button {
    margin: 0 auto;
}

.cta .btn-primary {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    color: #15365B;
    font-family: Plus Jakarta Display;
    border: 1px solid;
    width: 200px;
}


.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 60px;
    flex-wrap: wrap;
    color: #5E6C85;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

.footer-col {
    width: 25%;
    max-width: 100%;
    padding: 1rem 5%;
}

.footer-image {
    display: flex;
    width: 24px;
    gap: 15px;
    justify-content: space-between;
    margin-top: 19px;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer p {
    font-size: 0.9rem;
    font-family: Plus Jakarta Display;
}

.copyright {
    font-family: Plus Jakarta Display;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0px 100px;
    font-size: 14px;
    width: 1199px;
    max-width: 100%;
    margin: 0 auto;
    color: #5E6C85;
    line-height: 100%;
    letter-spacing: 0px;

}

@media only screen and (max-width: 768px) {
    header nav {
        display: none;
    }

    .nav ul {
        position: absolute;
        top: 60px;
        /* ✅ fixed  */
        left: -100%;
        flex-direction: column;
        width: 100%;
        background: #333;
        text-align: center;
        transition: left 0.3s ease;
        padding: 20px 0;
    }

    .nav ul.show {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .nav a {
        color: white;
        display: block;
        padding: 10px;
    }

    .hero-image {
        width: 100%;
        margin-top: 24px;
    }

    .hero-text {
        width: 100%;
    }

    .hero h1 {
        font-family: Plus Jakarta Display;
        color: #1e3a8a;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.9px;
    }

    .primary {
        width: 300px;
    }

    .secondary {
        width: 300px;
    }

    .book {
        width: 100%;
        /* padding: 3rem 2%; */
    }

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
    }

    .card-text {
        width: 100%;
    }

    .drum {
        width: 100%;
    }

    .drum-image {
        width: 100%;
    }

    .drum-text {
        width: 100%;
    }

    .snare {
        width: 100%;
    }

    .snare-image {
        width: 100%;
    }

    .snare-text {
        width: 100%;
    }

    .copyright {
        text-align: center;
        max-width: 100%;
    }

    .footer-col {
        width: 100%;
        max-width: 100%;
        padding: 1rem 5%;
    }

    .footer {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        background: #f8f8f8;
        padding: 0;
        flex-wrap: wrap;
    }

    .cta h2 {
        font-family: Plus Jakarta Display;
        margin: 0 auto;
        max-width: fit-content;
        text-wrap: wrap;
        width: 300px;
        /* text-align: center; */
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    header nav {
        display: none;
    }

    .nav ul {
        position: absolute;
        top: 60px;
        /* ✅ fixed  */
        left: -100%;
        flex-direction: column;
        width: 100%;
        background: #333;
        text-align: center;
        transition: left 0.3s ease;
        padding: 20px 0;
    }

    .nav ul.show {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .nav a {
        color: white;
        display: block;
        padding: 10px;
    }

    .hero-image {
        width: 100%;
        margin-top: 24px;
    }

    .hero-text {
        width: 100%;
    }

    .hero h1 {
        font-family: Plus Jakarta Display;
        color: #1e3a8a;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.9px;
    }

    .primary {
        width: 300px;
    }

    .secondary {
        width: 300px;
    }

    .book {
        max-width: 100%;
        padding: 3rem 2%;
    }

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
    }

    .card-text {
        width: 100%;
    }

    .drum {
        width: 100%;
    }

    .drum-image {
        width: 100%;
    }

    .drum-text {
        width: 100%;
    }

    .snare {
        width: 100%;
    }

    .snare-image {
        width: 100%;
    }

    .snare-text {
        width: 100%;
    }

    .copyright {
        text-align: center;
        max-width: 100%;
    }

    .footer-col {
        width: 100%;
        max-width: 100%;
        padding: 1rem 5%;
    }

    .footer {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        background: #f8f8f8;
        padding: 0;
        flex-wrap: wrap;
    }

    .cta h2 {
        font-family: Plus Jakarta Display;
        margin: 0 auto;
        max-width: fit-content;
        text-wrap: wrap;
        width: 300px;
        /* text-align: center; */
        margin-bottom: 20px;
    }
}

/* Phones */
@media (min-width: 1440px) {
    header nav {
        display: none;
    }

    .nav ul {
        position: absolute;
        top: 60px;
        /* ✅ fixed  */
        left: -100%;
        flex-direction: column;
        width: 100%;
        background: #333;
        text-align: center;
        transition: left 0.3s ease;
        padding: 20px 0;
    }

    .nav ul.show {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .nav a {
        color: white;
        display: block;
        padding: 10px;
    }

    .hero-image {
        width: 100%;
        margin-top: 24px;
    }

    .hero-text {
        width: 100%;
    }

    .hero h1 {
        font-family: Plus Jakarta Display;
        color: #1e3a8a;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.9px;
    }

    .primary {
        width: 300px;
    }

    .secondary {
        width: 300px;
    }

    .book {
        max-width: 100%;
        padding: 3rem 2%;
    }

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
    }

    .card-text {
        width: 100%;
    }

    .drum {
        width: 100%;
    }

    .drum-image {
        width: 100%;
    }

    .drum-text {
        width: 100%;
    }

    .snare {
        width: 100%;
    }

    .snare-image {
        width: 100%;
    }

    .snare-text {
        width: 100%;
    }

    .copyright {
        text-align: center;
        max-width: 100%;
    }

    .footer-col {
        width: 100%;
        max-width: 100%;
        padding: 1rem 5%;
    }

    .footer {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        background: #f8f8f8;
        padding: 0;
        flex-wrap: wrap;
    }

    .cta h2 {
        font-family: Plus Jakarta Display;
        margin: 0 auto;
        max-width: fit-content;
        text-wrap: wrap;
        width: 300px;
        /* text-align: center; */
        margin-bottom: 20px;
    }
}